body {
    background: #f5f5f5;
    font-family: Arial;
}
form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}
input, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}
button {
    background: blue;
    color: white;
}
